@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif !important;
}

body{
  background-color: #ecf1ff;
}

.shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

main{
  background-image: url("img/landing-bg_Mesa\ de\ trabajo\ 1.png");
   background-size: cover;
   height:100vh;
   background-position-y: -130px;
   background-repeat: no-repeat;
}

.navbar {
  transition: all 0.4s;
}

.display-4 b{
  font-weight: bold;
}

.right{
  color: #272369;
}

.right a{
  color: #fff !important;
  background-color: #272369 !important;
  padding: 5px 10px !important;
  transition: all 0.4s;
}
.right div{
  height: 54px;
    width: 267px;
}

.right a:hover{
  color: #272369 !important;
  background-color: transparent !important;
  border: 2px solid #272369;
  padding: 5px 10px !important;
}


.navbar .nav-link {
  color: #272369;
  font-weight: 600;

}

.nav-link {
  padding: 2px 7px !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  background-color: #272369 !important;
  text-decoration: none;
}

/* .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--bs-navbar-active-color);
  background-color: 272369 !important;
} */


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.pe-nav {
  padding-right: 14rem!important;
}

.flare{
  mix-blend-mode: plus-lighter;
  top: -104px !important;
  width: 680px;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}
