@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  padding: 0px;
  margin: 0px;
}
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: #f0f6f8;
}

.shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

main {


  height: 100vh;
  background-position-y: -130px;

}

.left {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/landing-bg_Mesa\ de\ trabajo\ 1.png");
}

.navbar {
  transition: all 0.4s;
}

.display-4 b {
  font-weight: bold;
}

.right {
  color: #272369;
}

.btn {
  color: #fff !important;
  background-color: #272369 !important;
  padding: 5px 10px !important;
  transition: all 0.4s;
  border: 2px solid #272369;
}

.btn:hover {
  color: #272369 !important;
  background-color: transparent !important;
  border: 2px solid #272369;
  padding: 5px 10px !important;
}

.signuplink {
  text-decoration: none;
  color: #272369 !important;

}

.mainbtn {
  color: #fff !important;
  background-color: #272369 !important;
  padding: 5px 10px !important;
  transition: all 0.4s;
  border: 2px solid #272369;

}

/* .right div{
  height: 54px;
    width: 267px;
} */

.mainbtn:hover {
  color: #272369 !important;
  background-color: transparent !important;
  border: 2px solid #272369;
  padding: 5px 10px !important;
}


.navbar .nav-link {
  color: #272369;
  font-weight: 600;

}



.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  background-color: #272369 !important;
  text-decoration: none;
}

/* .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--bs-navbar-active-color);
  background-color: 272369 !important;
} */


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.pe-nav {
  padding-right: 14rem !important;
}

.flare {
  mix-blend-mode: plus-lighter;
  top: -104px !important;
  width: 680px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}


.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #272369;
  outline: 0;
  font-size: 1.3rem;

  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #272369;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #400eb3, #c601cc);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #272369;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}




.back-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 47px;
  right: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: #272369 2px solid;
  overflow: hidden;
  transition: background 0.3s ease;

}

.back-button.back .arrow-wrap {
  left: -50%;
}

.back-button:hover {
  background: #272369;
}

.back-button:hover .arrow-wrap span {
  background: #fff;
}

.back-button .arrow-wrap {
  display: block;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease;
}

.back-button .arrow-wrap span {
  height: 1px;
  left: 0;
  top: 50%;
  background: #272369;
  position: absolute;
  display: block;
  transition: background 0.3s ease;
}

.back-button .arrow-wrap .arrow-part-1 {
  width: 100%;
  transform: translate(0, -50%);
}

.back-button .arrow-wrap .arrow-part-2 {
  width: 60%;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}

.back-button .arrow-wrap .arrow-part-3 {
  width: 60%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}









/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}


@media (max-width: 1042px) {
  .left {
    display: none;
  }

  .right {
    text-align: center !important;
    flex: 0 0 auto;
    width: 100%;
    
  }
.right-signup{
  text-align: center !important;
  flex: 0 0 auto;
  width: 100%;
  height: max-content !important;
}
  .right div {
    justify-content: center !important;
    align-items: center !important;
  }
.hide{
  display: none;
}
  .right form div{
  display: block !important;
  width: 100%;
  padding: 0px !important;
  margin-bottom: 20px;
  }
  .right form{
   
    padding: 0px !important;
    }

}